@import "course-img.css";
@import "course.css";

.academic {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

.academic__content {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (min-width: 0) {
  .academic__content {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .academic__content {
    flex-direction: row;
  }
}