.course__img-container {
  background-color: var(--light-text-color);
  border-radius: 10px;
  box-shadow: 5px 5px 2px #0000003f;
  padding: 2rem;
}

.course__img {
  height: 100px;
  width: 100%;
}

.course__img--one {
  background: url('../../img/ONE-logo.png') no-repeat center / contain;
}

.course__img--facu {
  background: url('../../img/unifametro-logo.png') no-repeat center / contain;
}