.skill {
  border: var(--light-bg-color) 1px solid;
  border-radius: 10px;
  padding: 2rem 1.5rem 1.5rem;
}

.skill__icon {
  fill: var(--light-bg-color);
  height: 50px;
  margin-bottom: 1rem;
  width: 50px;
}

.skill:hover, 
.skill:hover .skill__icon{
  border-color: var(--main-color);
  fill: var(--main-color);
  color: var(--main-color);
  user-select: none;
}

@media screen and (min-width: 0) {
  .skill {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 768px) {
  .skill {
    width: calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 1024px) {
  .skill {
    width: calc(25% - 1rem);
  }
}