.academic {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

.academic__content {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 2rem;
}

.course__img-container {
  background-color: var(--light-text-color);
  border-radius: 10px;
  box-shadow: 5px 5px 2px #0000003f;
  padding: 2rem;
}

.course__img {
  height: 100px;
  width: 100%;
}

.course__img--one {
  background: url('../img/ONE-logo.png') no-repeat center / contain;
}

.course__img--facu {
  background: url('../img/unifametro-logo.png') no-repeat center / contain;
}

.course__title {
  font-weight: 700;
  margin-block: 1rem .5rem;
}

@media screen and (min-width: 0) {
  .academic__content {
    flex-direction: column;
  }

  .course {
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .academic__content {
    flex-direction: row;
  }

  .course {
    text-align: left;
    width: calc(33.33% - 1rem);
  }
}