:root {
  --main-color: #ffa1af;
  --bg-color: #333333;
  --light-bg-color: #ffd2d9;
  --light-text-color: #fdfdfd;
  --dark-text-color: #131313;
  --header-height: 60px;
}

html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--light-text-color);
}

.title-section {
  font-size: 1.5rem;
  font-weight: 600;
}

.container {
  padding-block: 4rem;
}

@media screen and (min-width: 0) {
  .container {
    padding-inline: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-inline: 6rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-inline: 10rem;
  }
}