:root {
  --main-color: #ffa1af;
  --bg-color: #333333;
  --light-bg-color: #cecece;
  --light-text-color: #fdfdfd;
  --dark-text-color: #131313;
}

html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--light-text-color);
}

@media screen and (min-width: 0) {
  .container {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem 6rem;
  }
}