.footer__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__links__item {
  width: 50px;
}

.footer__links__item__link {
  fill: var(--light-text-color);
}

@media screen and (min-width: 0) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links {
    gap: 2rem;
  }
}