.footer__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__links__link {
  fill: var(--light-text-color);
  width: 30px;
}

@media screen and (min-width: 0) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}