.header {
  background-color: var(--main-color);
  color: var(--dark-text-color);
  min-height: var(--header-height);
  position: fixed;
  transition: .5s ease;
  width: 100%;
  z-index: 5;
}

.header__content {
  display: flex;
  align-items: center;
  height: calc(15px + 0.9rem);
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo__icon {
  fill: var(--dark-text-color);
  width: 30px;
}

.header__logo__title {
  font-size: 1.2rem;
  font-weight: 700;
}

/* MOBILE ICON */

.mobile-menu__icon__bar {
  background-color: var(--dark-text-color);
  border-radius: 50px;
  height: 5px;
  width: 35px;
  transition: .5s ease;
}

.open .mobile-menu__icon__bar--1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .mobile-menu__icon__bar--2 {
  opacity: 0;
}

.open .mobile-menu__icon__bar--3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

/* open mobile menu */
.header.open {
  background-color: var(--main-color-hover);
  color: var(--light-text-color);
}

.open .mobile-menu__icon__bar {
  background-color: var(--light-text-color);
}

.open .menu__list {
  display: block;
  margin-top: 1rem;
  text-align: center;
  transform: translateY(0);
  width: 100%;
}

.open .header__logo__icon {
  fill: var(--light-text-color);
  transition: .6s ease;
}

.open .menu__list__item {
  border-bottom: 1px solid var(--light-text-color);
  padding-block: 1rem;
}

.open .menu__list__item:last-child {
  border-bottom: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 0) {
  .header {
    padding-block: 1rem;
  }

  .mobile-menu__icon {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    cursor: pointer;
  }

  .menu__list {
    display: none;
    transform: translateY(-200%);
  }
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: space-between;
    padding-block: 2rem;
  }

  .mobile-menu__icon {
    display: none;
  }

  .menu__list {
    display: flex;
    gap: 1rem;
    text-transform: lowercase;
    transform: translateY(0);
  }
}