.header {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: var(--dark-text-color);
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
}

.header__title {
  font-size: 1.1rem;
  font-weight: 500;
}

.menu__list__item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 0) {
  .menu__list {
    display: none;
    transform: translateY(-200%);
  }
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: flex;
    gap: 1rem;
    transform: translateY(0);
  }
}