:root{
    --main: lightgreen;
    --bg-color: #323232;
    --text: white;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text);
    font-family: 'Trebuchet MS';
    max-width: 100vw;
}

header{
    display: flex;   
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em 1em 1.5em;
    background-color: var(--main);
    color: var(--bg-color);
    text-align: center;
}

.main-title{
    font-size: 1.88em;
    text-align: center;
    text-transform: uppercase;
}

.intro{
    font-size: 1em;
    line-height: 1.6;
    margin: 1em 0;
    text-align: center;
    width: 70%;
}

header i{
    margin-top: 1em;
}

.my-img{
    border: 2px var(--bg-color) solid;
    border-radius: 50%;
    height: auto;
    width: 120px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    gap: 0.5em;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    opacity: 0.6;
}

section{
    display: flex;
    flex-direction: column;
    border-top: 1em var(--main) solid;
    padding: 2em;
    line-height: 1.6;
    text-align: center;
}

.section-title{
    font-size: 2em;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;
}

.section-title::before, footer p::before{
    content: ">_";
}

.image-container{
    display: none;
    font-size: 0.65em;
    text-align: center;
}

.image{
    width: 250px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.list-container{
    width: 50%;
    text-align: start;
}

.list-container h3{
    font-size: 1.5em;
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
}

.skills-list li:before{
    content: '★';
    margin-right: 0.5em;
}

#projects .container{
    flex-direction: column;
    align-items: center;
}

.project{
    background-color: var(--main);
    color: var(--bg-color);
    box-shadow: 10px 10px white;
    border-radius: 1em;
    padding: 1em;
    width: 90%;
    text-align: center;
}

.project img{
    border-radius: 1em;
    width: 100%;
}

.project p{
    font-weight: 500;
}

#projects button{
    background-color: var(--main);
    border: none;
    border-radius: 1em;
    box-shadow: 2px 2px white;
    font-weight: 600;
    padding: 1em;
    cursor: pointer;
}

#contact-me i{
    font-size: 4em;
}

footer{
    background-color: var(--main);
    color: var(--bg-color);
    width: 100%;
    padding: 3em 0;
    text-align: center;
}