@media screen and (min-width: 768px){
    nav{
        width: 50%;
    }

    section{
        padding: 4em;
    }

    #projects .container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .project{
        width: 30%;
    }
}