@media screen and (min-width: 768px){
    .main-title{
        font-size: 3em;
    }

    .intro{
        font-size: 1.3em;
    }

    nav{
        width: 50%;
    }

    section{
        padding: 4em;
        text-align: justify;
    }

    #about-me .container{
        align-items: center;
    }

    .image-container{
        display: block;
    }

    #skills{
        align-items: center;
    }

    #skills .section-title{
        align-self: flex-start;
    }

    #skills .container{
        gap: 8em;
        width: 70%;
    }

    #projects .container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .project{
        width: 30%;
    }
}

@media screen and (min-width: 1024px){
    .text-about-me{
        margin-right: 5em;
    }
}